  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-OMSTWebsite-20180204011700.mdf;Initial Catalog=aspnet-OMSTWebsite-20180204011700;Integrated Security=True" 
          providerName="System.Data.SqlClient" />
    <add name ="OMSTDB"
         connectionString="Data Source=.; Initial Catalog=OMST_2018; Integrated Security=true"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
